@import '../../../assets/scss/style.scss';

// .header-sec {
.container {
    padding-top: 25px;
    min-width: 1280px;

    .brand-logo {
        font-family: 'Gilroy-Bold';
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
    }

    .cart-icon {
        position: relative;

        .cart-count {
            position: absolute;
            top: -2px;
            right: -5px;
            background-color: $secondary-color;
            padding: 2px 4px;
            border-radius: 50%;
        }
    }
}

// }